* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  color: #fff;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #2b2424 !important;
}
